<div class="animal-class-container" *ngIf="!loading; else loadingTemplate">
  <h2>Классы животных</h2>
  <button class="create-button" (click)="showCreateModal = true" *ngIf="isAdmin">
    Создать новый класс животного
  </button>

  <table>
    <thead>
      <tr>
        <th>
          Название
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassNameFilter" placeholder="Поиск по названию" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('name', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('name', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Описание
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassDescriptionFilter" placeholder="Поиск по описанию"
              (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('description', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('description', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Домен
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassDomainFilter" placeholder="Поиск по домену" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('domain', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('domain', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Царство
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassRealmFilter" placeholder="Поиск по царству" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('realm', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('realm', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Тип
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassRealmFilter" placeholder="Поиск по типу" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('type', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('type', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Международное научное название
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassInternationalScientificNameFilter" placeholder="Поиск по международному научному названию" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('internationalScientificName', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('internationalScientificName', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Ссылка на энциклопедию
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassEncyclopediaUrlFilter" placeholder="Поиск по ссылке на энциклопедию" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('encyclopediaUrl', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('encyclopediaUrl', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th *ngIf="isAdmin">Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animalClass of animalClasses">
        <td>{{ animalClass.name }}</td>
        <td>{{ animalClass.description }}</td>
        <td>{{ animalClass.domain }}</td>
        <td>{{ animalClass.realm }}</td>
        <td>{{ animalClass.type }}</td>
        <td>{{ animalClass.internationalScientificName }}</td>
        <td>{{ animalClass.encyclopediaUrl }}</td>
        <td *ngIf="isAdmin">
          <button (click)="openEditModal(animalClass)">Редактировать</button>
          <button (click)="deleteAnimalClass(animalClass.id)">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" *ngIf="editingAnimalClass">
  <div class="modal-content">
    <span class="close-button" (click)="cancelEdit()">&times;</span>
    <h3>Редактировать класс животного</h3>
    <form (ngSubmit)="updateAnimalClass(editingAnimalClass.id, editingAnimalClass)" class="animal-class-form">
      <label for="name">Название</label>
      <input type="text" id="name" [(ngModel)]="editingAnimalClass.name" name="name" required />
      <label for="description">Описание</label>
      <input type="text" id="description" [(ngModel)]="editingAnimalClass.description" name="description" required />
      <label for="domain">Домен</label>
      <input type="text" id="domain" [(ngModel)]="editingAnimalClass.domain" name="domain" required />
      <label for="realm">Царство</label>
      <input type="text" id="realm" [(ngModel)]="editingAnimalClass.realm" name="realm" required />
      <label for="type">Тип</label>
      <input type="text" id="type" [(ngModel)]="editingAnimalClass.type" name="type" required />
      <label for="internationalScientificName">Международное научное название</label>
      <input type="text" id="internationalScientificName" [(ngModel)]="editingAnimalClass.internationalScientificName" name="internationalScientificName" required />
      <label for="encyclopediaUrl">Ссылка на энциклопедию</label>
      <input type="text" id="encyclopediaUrl" [(ngModel)]="editingAnimalClass.encyclopediaUrl" name="encyclopediaUrl" required />
      <button type="submit">Сохранить</button>
      <button type="button" (click)="cancelEdit()">Отмена</button>
    </form>
  </div>
</div>

<div class="modal" *ngIf="showCreateModal">
  <div class="modal-content">
    <span class="close-button" (click)="showCreateModal = false">&times;</span>
    <h3>Создать новый класс животного</h3>
    <form (ngSubmit)="createAnimalClass()" class="animal-class-form">
      <label for="newName">Название</label>
      <input type="text" id="newName" [(ngModel)]="newAnimalClass.name" name="newName" required />
      <label for="newDescription">Описание</label>
      <input type="text" id="newDescription" [(ngModel)]="newAnimalClass.description" name="newDescription" required />
      <label for="newDomain">Домен</label>
      <input type="text" id="newDomain" [(ngModel)]="newAnimalClass.domain" name="newDomain" required />
      <label for="newRealm">Царство</label>
      <input type="text" id="newRealm" [(ngModel)]="newAnimalClass.realm" name="newRealm" required />
      <label for="newType">Тип</label>
      <input type="text" id="newType" [(ngModel)]="newAnimalClass.type" name="newType" required />
      <label for="newInternationalScientificName">Международное научное название</label>
      <input type="text" id="newInternationalScientificName" [(ngModel)]="newAnimalClass.internationalScientificName" name="newInternationalScientificName" required />
      <label for="newEncyclopediaUrl">Ссылка на энциклопедию</label>
      <input type="text" id="newEncyclopediaUrl" [(ngModel)]="newAnimalClass.encyclopediaUrl" name="newEncyclopediaUrl" required />
      <button type="submit">Создать</button>
    </form>
  </div>
</div>

<button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
  </svg>
</button>

<ng-template #loadingTemplate>
  <div class="loading-spinner">Загрузка...</div>
</ng-template>