<div class="background-image">
  <div class="account-container" *ngIf="!loading; else loadingTemplate">
    <div *ngIf="user" class="user-card">
      <img [src]="user.userPhoto" alt="{{ user.userName }}" />
      <h2>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</h2>
      <h6>{{ user.userName }}</h6>
      <p>{{ user.email }}</p>
      <p>{{ user.country }}<span *ngIf="user.city">, {{ user.city }}</span></p>
      <p>{{ user.site }}</p>
      <p>
        <a class="me-4 text-reset" [href]="user.facebookLink" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="me-4 text-reset" [href]="user.instagramLink" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="me-4 text-reset" [href]="user.twitterLink" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="me-4 text-reset" [href]="user.vkLink" target="_blank">
          <i class="fa fa-vk"></i>
        </a>
      </p>
      <button (click)="openEditModal(user)" class="edit-button">Редактировать</button>
      <button class="delete-account" (click)="confirmDeleteUser()">Удалить аккаунт</button>
    </div>
    <div *ngIf="!user" class="no-user">
      <p>Пользователь не найден</p>
    </div>
  </div>

  <div class="modal" *ngIf="showDeleteConfirmation">
    <div class="modal-content">
      <span class="close-button" (click)="cancelDelete()">&times;</span>
      <h3>Подтверждение удаления</h3>
      <p>Вы уверены, что хотите удалить свой аккаунт?</p>
      <button class="confirm-delete" (click)="deleteConfirmed()">Да, удалить</button>
      <button class="cancel-delete" (click)="cancelDelete()">Отмена</button>
    </div>
  </div>

  <div class="modal" *ngIf="editingUser">
    <div class="modal-content">
      <span class="close-button" (click)="cancelEdit()">&times;</span>
      <h3>Редактировать</h3>
      <form (ngSubmit)="updateUser(editingUser.id, editingUser)" class="account-form">
        <label for="editUserName">Имя пользователя</label>
        <input type="text" id="editUserName" [(ngModel)]="editingUser.userName" name="editUserName" required />
        <label for="editFirstName">Имя</label>
        <input type="text" id="editFirstName" [(ngModel)]="editingUser.firstName" name="editFirstName" required />
        <label for="editLastName">Фамилия</label>
        <input type="text" id="editLastName" [(ngModel)]="editingUser.lastName" name="editLastName" required />
        <label for="editMiddleName">Отчество</label>
        <input type="text" id="editMiddleName" [(ngModel)]="editingUser.middleName" name="editMiddleName" required />
        <label for="dateOfBirth">Дата рождения</label>
        <input id="dateOfBirth" type="date" [(ngModel)]="editingUser.dateOfBirth" name="dateOfBirth" required>
        <label for="editEmail">Почта</label>
        <input type="text" id="editEmail" [(ngModel)]="editingUser.email" name="editEmail" required />
        <label for="editCountry">Страна</label>
        <select id="editCountry" [(ngModel)]="editingUser.country" name="editCountry" (change)="onCountryChange()"
          required>
          <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
        </select>
        <label for="editCity">Город</label>
        <select id="editCity" [(ngModel)]="editingUser.city" name="editCity" required>
          <option *ngFor="let city of cities[editingUser.country]" [value]="city">{{ city }}</option>
        </select>
        <label for="editSiteLink">Сайт</label>
        <input type="text" id="editSiteLink" [(ngModel)]="editingUser.site" name="editSiteLink"
          required />
        <label for="editFacebookLink">Facebook</label>
        <input type="text" id="editFacebookLink" [(ngModel)]="editingUser.facebookLink" name="editFacebookLink"
          required />
        <label for="editInstagramLink">Instagram</label>
        <input type="text" id="editInstagramLink" [(ngModel)]="editingUser.instagramLink" name="editInstagramLink"
          required />
        <label for="editTwitterLink">Twitter</label>
        <input type="text" id="editTwitterLink" [(ngModel)]="editingUser.twitterLink" name="editTwitterLink" required />
        <label for="editVkLink">Vk</label>
        <input type="text" id="editVkLink" [(ngModel)]="editingUser.vkLink" name="editVkLink" required />
        <div style="display: flex; align-items: center; padding: 5px 10px;">
          <label for="userPhoto">Фото</label>
          <img [src]="editingUser.userPhoto" alt="User Photo" style="width: 100px; height: 100px; margin-right: 10px;">
          <input type="file" (change)="onFileSelected($event)" accept="image/*" style="margin-right: 10px;">
          <button (click)="removePhoto()" style="padding: 5px 10px; font-size: 12px;">Удалить фото</button>
        </div>
        <button type="submit" class="edit-button">Сохранить</button>
        <button type="button" class="cancel-button" (click)="cancelEdit()">Отмена</button>
      </form>
    </div>
  </div>

  <button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
    </svg>
  </button>

  <ng-template #loadingTemplate>
    <div class="loading-spinner">Загрузка...</div>
  </ng-template>
</div>