.account-container {
  text-align: center;
  margin: 20px;
}

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47vh;
  width: 99vw;
  background-image: url("../../../assets/view-of-wild-bison.jpg");
  background-size: cover;
  background-position: center;
}

.user-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  transition: transform 0.3s;
}

.user-card:hover {
  transform: scale(1.05);
}

.user-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-card h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.user-card h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.user-card h6 {
  color: #777;
  margin-bottom: 5px;
}

.user-card p {
  margin-bottom: 5px;
  color: #555;
}

.user-card a {
  color: #007bff;
  margin-right: 10px;
  transition: color 0.3s;
}

.user-card a:hover {
  color: #0056b3;
}

.user-card button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.user-card button:hover {
  background-color: #45a049;
}

.user-card .edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.user-card .delete-account {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.user-card .delete-account:hover {
  background-color: #e53935;
}

.no-user {
  margin-top: 20px;
  color: #777;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s;
}

.modal.show {
  opacity: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .modal-content {
    width: 95%;
    max-width: 400px;
  }
}

.modal-content .close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content .close-button:hover,
.modal-content .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h3 {
  margin-top: 0;
  color: #333;
}

.modal-content .account-form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-top: 10px;
  color: #333;
}

.modal-content input,
.modal-content select {
  padding: 10px;
  margin-top: 5px;
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content input:focus,
.modal-content select:focus {
  border-color: #007bff;
  outline: none;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #45a049;
}

.modal-content .confirm-delete {
  background-color: #f44336;
}

.modal-content .confirm-delete:hover {
  background-color: #e53935;
}

.modal-content .cancel-delete {
  background-color: #757575;
  margin-top: 10px;
}

.modal-content .cancel-delete:hover {
  background-color: #616161;
}

.modal-content .edit-button {
  background-color: #f44336;
}

.modal-content .edit-button:hover {
  background-color: #e53935;
}

.modal-content .cancel-button {
  background-color: #757575;
}

.modal-content .cancel-button:hover {
  background-color: #616161;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #0069d9;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}
