.news-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .create-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }
  }

  .news-list {
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .news-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .news-item {
      margin: 10px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: calc(33.33% - 20px);
      display: flex;
      flex-direction: column;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .news-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }

      .news-content {
        flex-grow: 1;
        text-align: left;
        margin-top: 15px;

        h3 {
          margin-bottom: 10px;
          color: #333;
        }

        p {
          margin-bottom: 10px;
          color: #555;
        }

        span {
          font-size: 12px;
          color: #888;
        }
      }

      button {
        margin-top: 10px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:first-child {
          background-color: #2196f3;
          color: white;

          &:hover {
            background-color: #1976d2;
          }
        }

        &:last-child {
          background-color: #f44336;
          color: white;

          &:hover {
            background-color: #d32f2f;
          }
        }
      }
    }

    .pagination-controls {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;

      button {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }

        &:hover:not([disabled]) {
          background-color: #45a049;
        }

        i {
          font-size: 18px;
        }
      }

      span {
        font-size: 16px;
        color: #333;
      }
    }
  }

  .loading-overlay {
    position: relative;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #ff6f61;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;

    .close-button {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    h3 {
      margin-top: 0;
      color: #333;
    }

    .news-form {
      display: flex;
      flex-direction: column;

      label {
        margin-top: 10px;
        color: #555;
      }

      input,
      select {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
        color: #333;
      }

      button {
        margin-top: 20px;
        padding: 10px;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }

        &[type="button"] {
          background-color: #f44336;
          margin-top: 10px;

          &:hover {
            background-color: #d32f2f;
          }
        }
      }

      .preview {
        margin-top: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #0056b3;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  svg {
    fill: #fff;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}
