<div class="news-container">
  <div class="news-list" [class.loading]="loading">
    <h2>Последние новости</h2>
    <button class="create-button" (click)="showCreateModal = true" *ngIf="isAdmin">
      Создать новость
    </button>
    <div class="news-items">
      <div class="news-item" *ngFor="let newsItem of paginatedNews[currentPage]">
        <img *ngIf="newsItem.photoUrl" [src]="newsItem.photoUrl" alt="Изображение новости" class="news-image" />
        <div class="news-content">
          <h3>{{ newsItem.title }}</h3>
          <p>{{ newsItem.content }}</p>
          <span>{{ newsItem.createdDate }}</span>
        </div>
        <button *ngIf="isAdmin" (click)="openEditModal(newsItem)">Редактировать</button>
        <button *ngIf="isAdmin" (click)="deleteNews(newsItem.id)">
          Удалить
        </button>
      </div>
    </div>
    <div *ngIf="loading" class="loading-overlay">
      <div class="spinner"></div>
    </div>
    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="currentPage === 0"><i class="fa fa-arrow-left"
          aria-hidden="true"></i></button>
      <span>Страница {{ currentPage + 1 }} из {{ paginatedNews.length }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === paginatedNews.length - 1"><i class="fa fa-arrow-right"
          aria-hidden="true"></i></button>
    </div>
  </div>
</div>


<div class="modal" *ngIf="editingNews">
  <div class="modal-content">
    <span class="close-button" (click)="cancelEdit()">&times;</span>
    <h3>Редактировать новость</h3>
    <form (ngSubmit)="updateNews(editingNews.id, editingNews)" class="news-form">
      <label for="editTitle">Заголовок</label>
      <input type="text" id="editTitle" [(ngModel)]="editingNews.title" name="editTitle" required />
      <label for="editContent">Содержание</label>
      <input type="text" id="editContent" [(ngModel)]="editingNews.content" name="editContent" required />
      <label for="editPhotoUrl">Фото</label>
      <input type="file" id="editPhotoUrl" (change)="onFileChange($event, 'edit')" />
      <img *ngIf="editingNews.photoUrl" [src]="editingNews.photoUrl" alt="Preview" class="preview" />
      <button type="submit">Сохранить</button>
      <button type="button" (click)="cancelEdit()">Отмена</button>
    </form>
  </div>
</div>

<div class="modal" *ngIf="showCreateModal">
  <div class="modal-content">
    <span class="close-button" (click)="showCreateModal = false">&times;</span>
    <h3>Создать новую новость</h3>
    <form (ngSubmit)="createNews()" class="news-form">
      <label for="newTitle">Заголовок</label>
      <input type="text" id="newTitle" [(ngModel)]="newNews.title" name="newTitle" required />
      <label for="newContent">Содержание</label>
      <input type="text" id="newContent" [(ngModel)]="newNews.content" name="newContent" required />
      <label for="newPhotoUrl">Фото</label>
      <input type="file" id="newPhotoUrl" (change)="onFileChange($event, 'create')" />
      <img *ngIf="newNews.photoUrl" [src]="newNews.photoUrl" alt="Preview" class="preview" />
      <button type="submit">Создать</button>
    </form>
  </div>
</div>

<button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
  </svg>
</button>

<ng-template #loadingTemplate>
  <div class="loading-spinner">Загрузка...</div>
</ng-template>