.chat-mini {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.chat-mini img {
  width: 80%;
  height: auto;
}

.chat-panel {
  position: fixed;
  bottom: 70px;
  left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.chat-panel h3 {
  margin-top: 0;
}

.chat-panel label {
  display: block;
  margin-top: 10px;
}

.chat-panel input[type="text"],
.chat-panel textarea {
  width: calc(100% - 2px);
  padding: 5px;
  margin-bottom: 10px;
}

.chat-panel textarea {
  height: 100px;
}

.chat-panel button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
