<div class="chat-mini" (click)="toggleForm()">
  <img src="../../../assets/chat.png" alt="Chat Icon" />
</div>

<div class="chat-panel" *ngIf="isFormVisible">
  <h3>Предложения по улучшению</h3>
  <label for="title">Заголовок</label>
  <input type="text" id="title" [(ngModel)]="title" />
  <label for="content">Содержание</label>
  <textarea id="content" [(ngModel)]="content"></textarea>
  <button (click)="sendMessage()">Отправить</button>
</div>