<div class="container">
    <h1>Лицензионное соглашение</h1>
    <p>Настоящее Лицензионное соглашение ("Соглашение") заключен между вами ("Лицензиат") и snglrtycrvtureofspce
        ("Лицензиар") для использования приложения animal-app ("Приложение").</p>

    <h2>Предоставление лицензии</h2>
    <p>Лицензиар предоставляет Лицензиату неисключительную, не подлежащую передаче лицензию на использование Приложения
        исключительно в личных или внутренних деловых целях.</p>

    <h2>Ограничения</h2>
    <p>Лицензиат не должен:</p>
    <ul>
        <li>Сублицензировать, распространять или передавать Приложение третьим лицам;</li>
        <li>Изменять, адаптировать, переводить, перепроектировать, декомпилировать или разбирать Приложение;</li>
        <li>Удалять или изменять любые уведомления об авторских правах, товарных знаках или других правах собственности,
            содержащиеся в Приложении.</li>
    </ul>

    <h2>Собственность</h2>
    <p>Лицензиар сохраняет за собой все права, титулы и интересы в отношении Приложения, включая все права
        интеллектуальной собственности на него.</p>

    <h2>Гарантийные обязательства</h2>
    <p>Приложение предоставляется «как есть» без каких-либо гарантий, явных или подразумеваемых. Лицензиар отказывается
        от всех гарантий, включая, помимо прочего, коммерческую пригодность, пригодность для конкретной цели и
        ненарушение прав собственности.</p>

    <h2>Ограничение ответственности</h2>
    <p>Ни при каких обязательствах Лицензиар не несет ответственности за любые прямые, косвенные, случайные,
        специальные, образцовые или косвенные убытки (включая, в частности, приобретение запасных товаров или услуг;
        потерю использования, данных или прибыли; или перерыв в работе), возникшим каким-либо образом в результате
        использования приложения, даже если он был предупрежден о возможности такого ущерба.</p>

    <h2>Окончание</h2>
    <p>Настоящее Соглашение прекращает свое действие автоматически, если Лицензиат не выполняет любое из его условий.
        После прекращения действия Соглашения Лицензиат обязан прекратить любое использование Приложения и уничтожить
        все его копии.</p>

    <h2>Полное соглашение</h2>
    <p>Настоящее Соглашение представляет собой полное соглашение между сторонами относительно предмета настоящего
        Соглашения и заменяет собой все предыдущие или современные соглашения или договоренности, как устные, так и
        письменные.</p>

    <h2>Контактная информация</h2>
    <p>По всем вопросам, связанным с настоящим Соглашением, обращайтесь в компанию <strong>snglrtycrvtureofspce</strong>
        по следующему адресу:</p>
    <div class="contact-info">
        <p>&#64;snglrtycrvtureofspce</p>
        <p>Телефон: +000(00)000-00-00</p>
        <p>Электронная почта: snglrtycrvtureofspce&#64;gmail.com</p>
    </div>

    <p>Дата вступления в силу: Настоящее Соглашение вступает в силу с момента 01.01.2024.</p>
    <p>Загружая, устанавливая, получая доступ или используя Приложение, Лицензиат соглашается с условиями настоящего
        Соглашения.</p>
    <button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
        </svg>
    </button>
</div>