<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Подключайтесь к нам в социальных сетях:</span>
    </div>
    <div>
      <a href="https://www.facebook.com/" target="_blank" class="me-4 text-reset">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://twitter.com/" target="_blank" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.google.com/" target="_blank" class="me-4 text-reset">
        <i class="fa fa-google"></i>
      </a>
      <a href="https://www.instagram.com/b" target="_blank" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/" target="_blank" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://github.com/" target="_blank" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>animal-app
          </h6>
          <p>Приложение для отслеживания перемещения особей животных</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Юридическая информация</h6>
          <p>
            <a href="license" class="text-reset">Лицензия</a>
          </p>
          <p>
            <a href="privacy-policy" class="text-reset">Политика конфиденциальности</a>
          </p>
          <p>
            <a href="terms-of-service" class="text-reset">Условия предоставления услуг</a>
          </p>
        </div>
        <div *ngIf="isLoggedIn()" class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Узнать больше</h6>
          <p>
            <a href="news" class="text-reset">Новости</a>
          </p>
          <p>
            <a href="movement-map" class="text-reset">Карта перемещений</a>
          </p>
        </div>
        <div *ngIf="isLoggedIn()" class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Панели управления</h6>
          <p>
            <a href="account" class="text-reset">Аккаунт</a>
          </p>
          <p>
            <a href="animal-class" class="text-reset">Классы животных</a>
          </p>
          <p>
            <a href="animal" class="text-reset">Животные</a>
          </p>
          <p>
            <a href="location" class="text-reset">Локации</a>
          </p>
          <p>
            <a href="movement-point" class="text-reset">Точки перемещения</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
          <p>
            <i class="fa fa-home me-3"></i>000000, Республика Беларусь,
            Минск
          </p>
          <p><i class="fa fa-envelope me-3"></i>snglrtycrvtureofspce&#64;gmail.com</p>
          <p><i class="fa fa-phone me-3"></i>+000 (00) 000-00-00 (приёмная)</p>
          <p><i class="fa fa-print me-3"></i>+000 (00) 000-00-00 (факс)</p>
        </div>
      </div>
    </div>
  </section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d301014.52297883696!2d27.263738036820467!3d53.88418851213397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1719412951146!5m2!1sru!2sby"
    width="100%" height="450" style="border: 0; width: 100%;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Авторское право:
    <a class="text-reset fw-bold" href="https://github.com/snglrtycrvtureofspce/">snglrtycrvtureofspce</a>
  </div>
</footer>