.header-container {
  padding: 15px 0;
}

.navbar-nav {
  white-space: nowrap;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #6c757d;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.nav-item {
  margin-right: 15px;
}

.btn-primary,
.btn-success {
  font-weight: bold;
}

.btn-danger {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #f8f9fa;
  }
}
