<header class="text-center text-lg-start bg-light text-muted">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="home">
        <img src="./../../../assets/snglrtycrvtureofspce_128x128.png" alt="Logotype" width="30" height="30"
          class="d-inline-block align-top me-2">
        <span>animal-app</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="news">Новости</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="movement-map">Карта перемещений</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" href="animal-report">Статистика</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="animal-class">Классы животных</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="animal">Животные</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="location">Локации</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="movement-point">Точки перемещения</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link" href="login">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link" href="signup">
              <i class="fa fa-user-plus"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="account">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" href="#" (click)="signOut()">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>