<div class="movement-point-container" *ngIf="!loading; else loadingTemplate">
  <h2>Точки перемещения</h2>
  <button class="create-button" (click)="showCreateModal = true">
    Создать новую точку перемещения
  </button>
  <table>
    <thead>
      <tr>
        <th>
          Широта
          <div class="filter-container">
            <input type="text" [(ngModel)]="LatitudeFilter" placeholder="Поиск по широте" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('latitude', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('latitude', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Долгота
          <div class="filter-container">
            <input type="text" [(ngModel)]="LongitudeFilter" placeholder="Поиск по долготе" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('longitude', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('longitude', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Животное
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalNameFilter" placeholder="Поиск по животному" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('animalId', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('animalId', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Местоположение
          <div class="filter-container">
            <input type="text" [(ngModel)]="LocationNameFilter" placeholder="Поиск по местоположению"
              (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('locationId', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('locationId', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th *ngIf="isAdmin">
          Статус верификации
          <div class="filter-container">
            <input type="text" [(ngModel)]="VerifiedFilter" placeholder="Поиск по статусу" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('verified', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('verified', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th *ngIf="isAdmin">Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movementPoint of movementPoints">
        <td>{{ movementPoint.latitude }}</td>
        <td>{{ movementPoint.longitude }}</td>
        <td>{{ getAnimalName(movementPoint.animalId) }}</td>
        <td>{{ getLocationName(movementPoint.locationId) }}</td>
        <td *ngIf="isAdmin">{{ movementPoint.verified ? 'Подтверждено' : 'Не подтверждено' }}</td>
        <td *ngIf="isAdmin">
          <button (click)="openEditModal(movementPoint)">Редактировать</button>
          <button (click)="deleteMovementPoint(movementPoint.id)">
            Удалить
          </button>
          <ng-container *ngIf="!movementPoint.verified">
            <button (click)="verifyMovementPoint(movementPoint.id, movementPoint.userId)">Подтвердить</button>
            <button (click)="unVerifyMovementPoint(movementPoint.id, movementPoint.userId)">Отклонить</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" *ngIf="editingMovementPoint">
  <div class="modal-content">
    <span class="close-button" (click)="cancelEdit()">&times;</span>
    <h3>Редактировать точку перемещения</h3>
    <form (ngSubmit)="
        updateMovementPoint(editingMovementPoint.id, editingMovementPoint)
      " class="movement-point-form">
      <label for="latitude">Широта</label>
      <input type="number" id="latitude" [(ngModel)]="editingMovementPoint.latitude" name="latitude" required />
      <label for="longitude">Долгота</label>
      <input type="number" id="longitude" [(ngModel)]="editingMovementPoint.longitude" name="longitude" required />
      <label for="animalId">Животное</label>
      <select id="animalId" [(ngModel)]="editingMovementPoint.animalId" name="animalId" required>
        <option *ngFor="let animal of animals" [value]="animal.id">
          {{ animal.name }}
        </option>
      </select>
      <label for="locationId">Местоположение</label>
      <select id="locationId" [(ngModel)]="editingMovementPoint.locationId" name="locationId" required>
        <option *ngFor="let location of locations" [value]="location.id">
          {{ location.name }}
        </option>
      </select>
      <button type="submit">Сохранить</button>
      <button type="button" (click)="cancelEdit()">Отмена</button>
    </form>
  </div>
</div>

<div class="modal" *ngIf="showCreateModal">
  <div class="modal-content">
    <span class="close-button" (click)="showCreateModal = false">&times;</span>
    <h3>Создать новую точку перемещения</h3>
    <form (ngSubmit)="createMovementPoint()" class="movement-point-form">
      <label for="newLatitude">Широта</label>
      <input type="number" id="newLatitude" [(ngModel)]="newMovementPoint.latitude" name="newLatitude" required />
      <label for="newLongitude">Долгота</label>
      <input type="number" id="newLongitude" [(ngModel)]="newMovementPoint.longitude" name="newLongitude" required />
      <label for="newAnimalId">Животное</label>
      <select id="newAnimalId" [(ngModel)]="newMovementPoint.animalId" name="newAnimalId" required>
        <option *ngFor="let animal of animals" [value]="animal.id">
          {{ animal.name }}
        </option>
      </select>
      <label for="newLocationId">Местоположение</label>
      <select id="newLocationId" [(ngModel)]="newMovementPoint.locationId" name="newLocationId" required>
        <option *ngFor="let location of locations" [value]="location.id">
          {{ location.name }}
        </option>
      </select>
      <button type="submit">Создать</button>
    </form>
  </div>
</div>

<button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
  </svg>
</button>

<ng-template #loadingTemplate>
  <div class="loading-spinner">Загрузка...</div>
</ng-template>