<div class="location-container" *ngIf="!loading; else loadingTemplate">
  <h2>Локации</h2>
  <button class="create-button" (click)="showCreateModal = true" *ngIf="isAdmin">
    Создать новую локацию
  </button>
  <table>
    <thead>
      <tr>
        <th>
          Название
          <div class="filter-container">
            <input type="text" [(ngModel)]="NameFilter" placeholder="Поиск по названию" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('name', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('name', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Описание
          <div class="filter-container">
            <input type="text" [(ngModel)]="DescriptionFilter" placeholder="Поиск по описанию" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('description', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('description', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Широта
          <div class="filter-container">
            <input type="text" [(ngModel)]="LatitudeFilter" placeholder="Поиск по широте" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('latitude', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('latitude', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Долгота
          <div class="filter-container">
            <input type="text" [(ngModel)]="LongitudeFilter" placeholder="Поиск по долготе" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('longitude', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('longitude', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th *ngIf="isAdmin">Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <td>{{ location.name }}</td>
        <td>{{ location.description }}</td>
        <td>{{ location.latitude }}</td>
        <td>{{ location.longitude }}</td>
        <td *ngIf="isAdmin">
          <button (click)="openEditModal(location)">Редактировать</button>
          <button (click)="deleteLocation(location.id)">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" *ngIf="editingLocation">
  <div class="modal-content">
    <span class="close-button" (click)="cancelEdit()">&times;</span>
    <h3>Редактировать местоположение</h3>
    <form (ngSubmit)="updateLocation(editingLocation.id, editingLocation)" class="location-form">
      <label for="editName">Название</label>
      <input type="text" id="editName" [(ngModel)]="editingLocation.name" name="editName" required />
      <label for="editDescription">Описание</label>
      <input type="text" id="editDescription" [(ngModel)]="editingLocation.description" name="editDescription"
        required />
      <label for="editLatitude">Широта</label>
      <input type="number" id="editLatitude" [(ngModel)]="editingLocation.latitude" name="editLatitude" required />
      <label for="editLongitude">Долгота</label>
      <input type="number" id="editLongitude" [(ngModel)]="editingLocation.longitude" name="editLongitude" required />
      <button type="submit">Сохранить</button>
      <button type="button" (click)="cancelEdit()">Отмена</button>
    </form>
  </div>
</div>

<div class="modal" *ngIf="showCreateModal">
  <div class="modal-content">
    <span class="close-button" (click)="showCreateModal = false">&times;</span>
    <h3>Создать новое местоположение</h3>
    <form (ngSubmit)="createLocation()" class="location-form">
      <label for="newName">Название</label>
      <input type="text" id="newName" [(ngModel)]="newLocation.name" name="newName" required />
      <label for="newDescription">Описание</label>
      <input type="text" id="newDescription" [(ngModel)]="newLocation.description" name="newDescription" required />
      <label for="newLatitude">Широта</label>
      <input type="number" id="newLatitude" [(ngModel)]="newLocation.latitude" name="newLatitude" required />
      <label for="newLongitude">Долгота</label>
      <input type="number" id="newLongitude" [(ngModel)]="newLocation.longitude" name="newLongitude" required />
      <button type="submit">Создать</button>
    </form>
  </div>
</div>

<button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
  </svg>
</button>

<ng-template #loadingTemplate>
  <div class="loading-spinner">Загрузка...</div>
</ng-template>