<div class="background-video-wrapper">
  <video #backgroundVideo autoplay loop class="background-video">
    <source src="../../../assets/film.mp4" type="video/mp4" />
    Ваш браузер не поддерживает видео.
  </video>
  <div class="content">
    <div class="header">animal-app</div>
    <div class="description">
      Приложение для отслеживания перемещения особей животных
    </div>
  </div>
  <button class="video-control" (click)="toggleVideo()">
    {{ isPaused ? "Start" : "Pause" }}
  </button>
</div>