<div class="container">
    <h1>Политика конфиденциальности</h1>
    <p>Animal-app уважает и ценит вашу конфиденциальность. Эта Политика конфиденциальности описывает, как мы собираем,
        используем, раскрываем и защищаем вашу личную информацию, когда вы пользуетесь нашим Приложением, и какие
        возможности вы имеете в отношении этой информации.</p>

    <p>Загружая, устанавливая, получая доступ или используя наше Приложение, вы соглашаетесь с условиями настоящей
        Политики конфиденциальности.</p>

    <p>Когда вы используете animal-app, мы можем собирать определенную информацию автоматически, включая, помимо
        прочего, тип вашего устройства, операционную систему, уникальные идентификаторы устройства, IP-адрес, информацию
        о мобильной сети, а также информацию о том, как вы используете приложение.</p>

    <p>Кроме того, если вы решите подключить к нашему приложению свой внешний аккаунт (например, в социальных сетях или
        электронной почте), мы можем собирать информацию из этих аккаунтов в соответствии с их политикой
        конфиденциальности. Эта информация может включать ваше имя, адрес электронной почты, фотографию профиля и другие
        данные, которыми вы решили поделиться с нами.</p>

    <h2>Как мы используем вашу информацию</h2>
    <p>Мы можем использовать полученную от вас информацию, чтобы:</p>
    <ul>
        <li>Предоставлять, поддерживать и улучшать наше Приложение;</li>
        <li>Настраивать и персонализировать ваш опыт;</li>
        <li>Анализировать тенденции и модели использования для улучшения наших услуг;</li>
        <li>Общаться с вами напрямую или через одного из наших партнеров по поводу обновлений, предложений и рекламных
            акций;</li>
        <li>Обеспечение безопасности и целостности нашего приложения и пользователей.</li>
    </ul>

    <h2>Совместное использование вашей информации</h2>
    <p>Мы можем передавать полученную от вас информацию третьим лицам для различных целей, включая, но не ограничиваясь
        ими:</p>
    <ul>
        <li>Поставщики услуг: Мы можем передавать вашу информацию сторонним поставщикам услуг, которые помогают нам в
            предоставлении и обслуживании нашего Приложения;</li>
        <li>Деловые партнеры: Мы можем делиться вашей информацией с надежными деловыми партнерами, чтобы предложитьвам
            продукты, услуги или рекламные акции;</li>
        <li>Соблюдение правовых норм: Мы можем раскрыть вашу информацию в ответ на повестку в суд, судебный приказ или
            другой правительственный запрос, или когда мы добросовестно считаем, что раскрытие необходимо для защиты
            наших прав, защиты вашей безопасности или безопасности других лиц, расследования мошенничества или ответа на
            юридический запрос.</li>
    </ul>

    <h2>Ваш выбор</h2>
    <p>Вы можете отказаться от предоставления нам определенной информации, но это может ограничить вашу возможность
        пользоваться некоторыми функциями нашего Приложения.</p>

    <p>Вы также можете отказаться от получения рекламных сообщений от нас, следуя инструкциям, содержащимся в этих
        сообщениях, или связавшись с нами напрямую.</p>

    <h2>Безопасность</h2>
    <p>Мы принимаем разумные меры для защиты собираемой нами информации от несанкционированного доступа, раскрытия,
        изменения или уничтожения. Однако ни один способ передачи информации через Интернет или ни один из методов
        передачи информации через Интернет или электронного хранения не является на 100% безопасным, и мы не можем
        гарантировать абсолютную безопасность.</p>

    <h2>Конфиденциальность детей</h2>
    <p>Наше Приложение не предназначено для использования детьми младше 18 лет. Мы сознательно не собираем личную
        информацию у детей младше 18 лет. Если вы являетесь родителем или опекуном и считаете, что ваш ребенок
        предоставил нам личную информацию, пожалуйста, свяжитесь с нами, чтобы мы могли принять соответствующие меры.
    </p>

    <h2>Изменения в Политике конфиденциальности</h2>
    <p>Мы оставляем за собой право обновлять или изменять нашу Политику конфиденциальности в любое время. Любые
        изменения вступают в силу немедленно после размещения пересмотренной Политики конфиденциальности на этой
        странице.</p>

    <h2>Контактная информация</h2>
    <p>По всем вопросам, связанным с настоящим Соглашением, обращайтесь в компанию <strong>snglrtycrvtureofspce</strong>
        по следующему адресу:</p>
    <div class="contact-info">
        <p>&#64;snglrtycrvtureofspce</p>
        <p>Телефон: +000(00)000-00-00</p>
        <p>Электронная почта: snglrtycrvtureofspce&#64;gmail.com</p>
    </div>

    <p>Последнее обновление: 01.01.2024.</p>
    <p>Загружая, устанавливая, получая доступ или используя Приложение, Лицензиат соглашается с условиями настоящего
        Соглашения.</p>
    <button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
        </svg>
    </button>
</div>