<div class="container">
  <div *ngIf="loading" class="loading-spinner">
    Загрузка...
  </div>

  <div *ngIf="!loading">
    <h1>Статистика миграции животных</h1>

    <div *ngFor="let report of reports" class="report-card">
      <h2>{{ report.animalType }}</h2>
      <p><strong>Количество животных:</strong> {{ report.animalCount }}</p>
      <p><strong>Из них:</strong></p>
      <ul>
        <li *ngFor="let animal of report.animals">
          {{ animal.name }}: {{ animal.population }}
        </li>
      </ul>
      <p><strong>Количество перемещений:</strong> {{ report.movementCount }}</p>
      <p><strong>Из них:</strong></p>
      <ul>
        <li *ngFor="let summary of report.animalMovementsSummary">
          {{ summary.animalName }}: {{ summary.movementLocations.join(', ') }}
        </li>
      </ul>
      <h3>Местоположения</h3>
      <ul>
        <li *ngFor="let locationId of getTopLocationIds(report.topLocations)">
          {{ getLocationName(locationId) }}: {{ report.topLocations[locationId] }}
        </li>
      </ul>
      <h3>Животные</h3>
      <div class="animals">
        <div *ngFor="let animal of report.animals" class="animal-card">
          <img [src]="animal.photoUrl" alt="{{ animal.name }}">
          <div class="animal-info">
            <h4>{{ animal.name }}</h4>
            <p>{{ animal.description }}</p>
            <p><strong>Отряд:</strong> {{ animal.squad }}</p>
            <p><strong>Семейство:</strong> {{ animal.family }}</p>
            <p><strong>Род:</strong> {{ animal.rod }}</p>
            <p><strong>Вид:</strong> {{ animal.view }}</p>
            <p><strong>Международное научное название:</strong> {{ animal.internationalScientificName }}</p>
            <p><strong>Популяция:</strong> {{ animal.population }}</p>
            <h5>Перемещения:</h5>
            <ul>
              <li *ngFor="let movement of animal.movements">
                {{ movement.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
    </svg>
  </button>
</div>