.container {
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.5);

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
  }

  .report-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      margin-top: 0;
      color: #007bff;
    }

    h3 {
      margin-bottom: 10px;
      color: #333;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        background-color: #f5f5f5;
        margin: 5px 0;
        padding: 8px 15px;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      }
    }

    .animals {
      display: flex;
      flex-wrap: wrap;

      .animal-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 15px;
        margin: 10px;
        width: calc(33.333% - 20px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        img {
          max-width: 100%;
          border-radius: 10px;
          margin-bottom: 15px;
        }

        .animal-info {
          h4 {
            margin: 10px 0 5px;
            font-size: 18px;
            color: #333;
          }

          p {
            margin: 5px 0;
            font-size: 14px;
            color: #555;
          }

          h5 {
            margin-top: 10px;
            font-size: 16px;
            color: #007bff;
          }

          ul {
            list-style-type: none;
            padding: 0;

            li {
              background-color: #f1f1f1;
              margin: 3px 0;
              padding: 5px 10px;
              border-radius: 5px;
              font-size: 13px;
              color: #333;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
    }
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: #0056b3;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
