<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Авторизация</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                                    <span class="fa fa-envelope p-1"></span> <input formControlName="email" type="text"
                                        placeholder="Почта" required> </div>
                            </div>
                            <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')"
                                class="text-danger">*Электронная почта обязательна*</small>

                            <div class="form-group pt-3">
                                <div class="input-field"
                                    [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa fa-lock px-2"></span> <input formControlName="password"
                                        [type]="type" placeholder="Пароль"> <button type="button"
                                        (click)="hideShowPass()" class="bg-white text-muted"> <span
                                            class="fa {{eyeIcon}}"></span> </button> </div>
                            </div>
                            <small
                                *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                                class="text-danger">*Требуется пароль*</small>

                            <div class="form-inline fr mt-4"> <a id="forgot" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" class="font-weight-bold">Забыли пароль?</a> </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Вход в систему</button>
                            <div class="text-center pt-4 text-muted">У вас нет аккаунта? <a id="forgot" href="#"
                                    routerLink="/signup">Зарегистрироваться</a> </div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://wwww.facebook.com" target="_blank" class="px-2"> <img
                                    src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt="">
                            </a>
                            <a href="https://www.google.com" target="_blank" class="px-2"> <img
                                    src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                                    alt=""> </a>
                            <a href="https://www.github.com" target="_blank" class="px-2"> <img
                                    src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                                    alt=""> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Забыли
                        пароль?</span><br>
                    <small>Пожалуйста, укажите свою почту, мы вышлем ссылку для сброса настроек.</small>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field"> <span class="fa fa-user p-2"></span> <input type="text"
                            placeholder="Почта"></div>
                </div>
                <small class="text-danger">*Раздел в разработке*</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </div>
</div>