.fr {
  display: block;
  float: right;
}

.outer {
  height: 58vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("../../../assets/forest.jpg");
  background-size: cover;
  background-position: center;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
}

#forgot {
  min-width: 100px;
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.form-inline label {
  padding-left: 10px;
  margin: 0;
  cursor: pointer;
}

.btn {
  margin-top: 20px;
  border-radius: 15px;
}

.panel {
  min-height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
}

.input-field {
  border-radius: 5px;
  padding: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: #4343ff;
}

.input-field.error {
  border: 1px solid red;
  color: red;
}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.fa-eye-slash.btn {
  border: none;
  outline: none;
  box-shadow: none;
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.bordert {
  border-top: 1px solid #aaa;
  position: relative;
}

.bordert:after {
  content: "или свяжитесь с";
  position: absolute;
  top: -13px;
  left: 33%;
  background-color: #fff;
  padding: 0px 8px;
}

@media (max-width: 360px) {
  #forgot {
    margin-left: 0;
    padding-top: 10px;
  }
  body {
    height: 100%;
  }
  .container {
    margin: 30px 0;
  }
  .bordert:after {
    left: 25%;
  }
}

.bg-white {
  background: none;
  border: none;
}

.toast-right-top {
  height: auto !important;
}
