body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  color: #555;
  border-left: 4px solid #007bff;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

p {
  margin-bottom: 10px;
  color: #666;
  line-height: 1.8;
  text-align: justify;
}

ol {
  margin-left: 20px;
  color: #666;
}

ul {
  margin-left: 20px;
  color: #666;
}

.contact-info {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.scroll-to-top svg {
  fill: #fff;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
