<div class="container">
    <h1>Условия предоставления услуг</h1>
    <p>Мы - snglrtycrvtureofspce («Компания», «Мы», «Нас», «Наш»), компания, зарегистрированная в Беларуси по адресу г.
        Минск. Наш номер НДС - BY000000000000. Мы управляем Приложением animal-app («Приложение»), а также любыми
        другими сопутствующими продуктами и услугами, которые содержат ссылки или ссылки на настоящие юридические
        условия («Юридические условия») (совместно именуемые «Услуги»).</p>
    <p>Настоящие Правовые условия представляют собой юридически обязывающее соглашение, заключенное между вами, лично
        или от имени юридического лица («вы»), и snglrtycrvtureofspce, касающееся вашего доступа к Услугам и их
        использования. Вы соглашаетесь, что, получая доступ к Услугам, вы прочитали, поняли и согласились быть
        связанными всеми настоящими Юридическими условиями. Если вы не согласны со всеми этими юридическими условиями,
        то вам категорически запрещено пользоваться услугами, и вы должны немедленно прекратить их использование.</p>
    <p>Мы предоставим вам предварительное уведомление о любых запланированных изменениях в используемых вами Услугах.
        Изменения Юридических условий вступают в силу через семь (7) дней после направления уведомления, за исключением
        случаев, когда изменения касаются новой функциональности, обновлений системы безопасности и исправления ошибок,
        в этом случае изменения вступают в силу немедленно. Продолжая пользоваться Услугами после даты вступления в силу
        любых изменений, вы соглашаетесь соблюдать измененные условия. Если вы не согласны с такими изменениями, вы
        можете прекратить использование Услуг в соответствии с разделом «Срок действия и расторжение».</p>
    <p>Все пользователи, являющиеся несовершеннолетними в юрисдикции, в которой они проживают (как правило, в возрасте
        до 18 лет), должны иметь разрешение и находиться под непосредственным наблюдением своих родителей или опекунов
        для использования Услуг. Если вы являетесь несовершеннолетним, вы должны попросить своего родителя или опекуна
        прочитать и согласиться с настоящими Юридическими условиями до того, как вы начнете пользоваться Услугами.</p>
    <p>Мы рекомендуем вам распечатать копию настоящих Юридических условий для ваших записей.</p>

    <h2>Оглавление</h2>
    <ol>
        <li>Наши услуги</li>
        <li>Права интеллектуальной собственности</li>
        <li>Заверения пользователей</li>
        <li>Регистрация пользователя</li>
        <li>Покупки и оплата</li>
        <li>Политика</li>
        <li>Запрещённая деятельность</li>
        <li>Пользовательский вклад</li>
        <li>Лицензия и вклад</li>
        <li>Лицензия на приложение</li>
        <li>Социальные медиа</li>
        <li>Веб-сайты и контент третьих лиц</li>
        <li>Управление услугами</li>
        <li>Срок действия и расторжение</li>
        <li>Изменения и прерывания</li>
        <li>Действующее законодательство</li>
        <li>Разрешение споров</li>
        <li>Коррекции</li>
        <li>Дисклеймер</li>
        <li>Ограничения ответственности</li>
        <li>Возмещение убытков</li>
        <li>Данные пользователя</li>
        <li>Электронные сообщения, транзакции и подписи</li>
        <li>Пользователи и жители Калифорнии</li>
        <li>Прочая информация</li>
        <li>Контактная информация</li>
    </ol>

    <h2>1. Наши услуги</h2>
    <p>Информация, предоставляемая при использовании Услуг, не предназначена для распространения или использования любым
        физическим или юридическим лицом в любой юрисдикции или стране, где такое распространение или использование
        противоречит законодательству или нормативным актам или где мы можем столкнуться с требованиями регистрации в
        такой юрисдикции или стране. Соответственно, лица, решившие получить доступ к Услугам из других мест, делают это
        по собственной инициативе и несут полную ответственность за соблюдение местных законов, если и в той мере, в
        какой они применимы.</p>
    <p>Услуги не приспособлены для соблюдения отраслевых норм (Закон о переносимости и подотчетности медицинского
        страхования (HIPAA), Федеральный закон об управлении информационной безопасностью (FISMA) и т. д.), поэтому если
        ваше взаимодействие будет подпадать под действие таких законов, вы не можете пользоваться Услугами. Вы не можете
        использовать Услуги таким образом, чтобы это нарушало Закон Грамма-Лича-Блайли (GLBA).</p>

    <h2>2. Права на интеллектуальную собственность</h2>
    <p><b>Наша интеллектуальная собственность</b></p>
    <p>Мы являемся владельцем или лицензиатом всех прав интеллектуальной собственности на наши Услуги, включая весь
        исходный код, базы данных, функциональные возможности, программное обеспечение, дизайн веб-сайтов, аудио, видео,
        текст, фотографии и графику в Услугах (далее «Содержание»), а также содержащиеся в них товарные знаки, знаки
        обслуживания и логотипы («Знаки»).</p>
    <p>Наш Контент и Знаки защищены законами об авторском праве и товарных знаках (и различными другими правами на
        интеллектуальную собственность и законами о недобросовестной конкуренции) и договорами в США и по всему миру.
    </p>
    <p>Контент и Знаки предоставляются в Услугах или через них «как есть» исключительно для вашего личного,
        некоммерческого использования.</p>

    <p><b>Использование вами наших Услуг</b></p>
    <p>При условии соблюдения вами настоящих Юридических условий, включая раздел «Запрещённая деятельность» ниже, мы
        предоставляем вам неисключительную, непередаваемую, отзывную лицензию на: получать доступ к Услугам; и загружать
        или распечатывать копии любой части Содержания, к которой вы получили надлежащий доступ. Исключительно для
        вашего личного некоммерческого использования.</p>
    <p>За исключением случаев, указанных в данном разделе или в других разделах наших Юридических условий, никакая часть
        Услуг, а также Контент или Знаки не могут быть скопированы, воспроизведены, объединены, переизданы, загружены,
        размещены, публично показаны, закодированы, переведены, переданы, распространены, проданы, лицензированы или
        иным образом использованы для любых коммерческих целей без нашего предварительного письменного разрешения.</p>
    <p>Если вы хотите использовать Услуги, Контент или Марки иначе, чем указано в данном разделе или в других разделах
        наших Юридических условий, пожалуйста, направьте свой запрос по адресу:
        <strong>snglrtycrvtureofspce&#64;gmail.com</strong>. Если мы когда-либо предоставим вам разрешение на
        размещение, воспроизведение или публичное отображение любой части наших Услуг или Контента, вы должны указать
        нас как владельцев или лицензиаров Услуг, Контента или Марки и обеспечить, чтобы любое уведомление об авторском
        праве или праве собственности появлялось или было видно при размещении, воспроизведении или отображении нашего
        Контента.</p>
    <p>Мы сохраняем за собой все права, не предоставленные вам в явной форме, на Услуги, Контент и Марки.</p>
    <p>Любое нарушение этих прав интеллектуальной собственности будет являться существенным нарушением наших Юридических
        условий, и ваше право на использование наших Услуг будет немедленно прекращено.</p>

    <p><b>Ваши материалы</b></p>
    <p>Пожалуйста, внимательно изучите этот раздел и раздел «Запрещённая деятельность» до начала использования наших
        Услуг, чтобы понять (а) права, которые вы нам предоставляете, и (б) обязательства, которые вы несете, когда
        размещаете или загружаете любой контент через Услуги.</p>
    <p><b>Представления: </b>Отправляя нам напрямую любой вопрос, комментарий, предложение, идею, отзыв или другую
        информацию об Услугах («Представление»), вы соглашаетесь передать нам все права интеллектуальной собственности
        на такое Представление. Вы соглашаетесь с тем, что мы являемся владельцами такого Представления и имеем право на
        его неограниченное использование и распространение в любых законных целях, коммерческих или иных, без признания
        или выплаты вам компенсации.</p>
    <p><b>Вы несете ответственность за то, что вы размещаете или загружаете: </b>Отправляя нам Материалы через любую
        часть Услуг, вы:</p>
    <ul>
        <li>Подтверждаете, что вы прочитали и согласны с нашими «Запрещённая деятельность» и не будете размещать,
            отправлять, публиковать, загружать или передавать через Услуги любые материалы, которые являются
            незаконными, преследующими, ненавистными, вредными, клеветническими, непристойными, запугивающими,
            оскорбительными, дискриминационными, угрожающими любому лицу или группе лиц, сексуально откровенными,
            ложными, неточными, обманчивыми или вводящими в заблуждение;</li>
        <li>В той мере, в какой это допускается действующим законодательством, отказываться от всех моральных прав на
            любое такое Предоставление;</li>
        <li>Гарантировать, что любое такое Представление принадлежит вам или что вы обладаете необходимыми правами и
            лицензиями на предоставление такого Представления и что у вас есть все полномочия для предоставления нам
            вышеупомянутых прав в отношении вашего Представления;</li>
        <li>Гарантируете и заявляете, что ваши материалы не являются конфиденциальной информацией;</li>
        <li>Вы несете полную ответственность за предоставленные вами материалы и прямо соглашаетесь возместить нам все
            убытки, которые мы можем понести из-за нарушения вами (а) данного раздела, (б) прав интеллектуальной
            собственности третьих лиц или © применимого законодательства.</li>
    </ul>

    <h2>3. Заверения пользователя</h2>
    <p>Пользуясь Услугами, вы заявляете и гарантируете, что: (1) вся предоставленная вами регистрационная информация
        будет правдивой, точной, актуальной и полной; (2) вы будете поддерживать точность такой информации и
        своевременно обновлять регистрационную информацию по мере необходимости; (3) вы обладаете правоспособностью и
        согласны соблюдать настоящие Юридические условия; (4) вы не являетесь несовершеннолетним в юрисдикции, в которой
        вы проживаете, или, если вы несовершеннолетний, вы получили разрешение родителей на использование Услуг; (5) вы
        не будете получать доступ к Услугам с помощью автоматизированных или нечеловеческих средств, будь то бот, скрипт
        или иное; (6) вы не будете использовать Услуги для любых незаконных или несанкционированных целей; и (7)
        использование вами Услуг не будет нарушать любое применимое законодательство или нормативные акты.</p>
    <p>Если вы предоставите неправдивую, неточную, неактуальную или неполную информацию, мы имеем право приостановить
        или прекратить действие вашей учетной записи и отказать вам в любом текущем или будущем использовании Услуг (или
        любой их части).</p>

    <h2>4. Регистрация пользователей</h2>
    <p>Для использования Услуг вам может потребоваться регистрация. Вы соглашаетесь хранить свой пароль в тайне и несете
        ответственность за любое использование вашей учетной записи и пароля. Мы оставляем за собой право удалить,
        истребовать или изменить выбранное вами имя пользователя, если мы по своему усмотрению определим, что такое имя
        пользователя является неуместным, непристойным или иным образом предосудительным.</p>

    <h2>26. Контактная информация</h2>
    <p>По всем вопросам, связанным с настоящим Соглашением, обращайтесь в компанию <strong>snglrtycrvtureofspce</strong>
        по следующему адресу:</p>
    <div class="contact-info">
        <p>&#64;snglrtycrvtureofspce</p>
        <p>Телефон: +000(00)000-00-00</p>
        <p>Электронная почта: snglrtycrvtureofspce&#64;gmail.com</p>
    </div>

    <p>Дата вступления в силу: Настоящее Соглашение вступает в силу с момента 01.01.2024.</p>
    <p>Загружая, устанавливая, получая доступ или используя Приложение, Лицензиат соглашается с условиями настоящего
        Соглашения.</p>
    <button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
        </svg>
    </button>
</div>