<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Регистрация</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signUpForm.controls['firstName'].dirty &&
                    signUpForm.hasError('required', 'firstName')
                  ">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="firstName" type="text" placeholder="Имя" />
                </div>
                <small *ngIf="
                    signUpForm.controls['firstName'].dirty &&
                    signUpForm.hasError('required', 'firstName')
                  " class="text-danger">*Имя обязательно</small>
                <small *ngIf="
                    signUpForm.controls['firstName'].dirty &&
                    signUpForm.hasError('pattern', 'firstName')
                  " class="text-danger">*Имя не должно содержать цифр и специальных символов</small>
              </div>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signUpForm.controls['lastName'].dirty &&
                    signUpForm.hasError('required', 'lastName')
                  ">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="lastName" type="text" placeholder="Фамилия" />
                </div>
                <small *ngIf="
                    signUpForm.controls['lastName'].dirty &&
                    signUpForm.hasError('required', 'lastName')
                  " class="text-danger">*Фамилия обязательна</small>
                <small *ngIf="
                    signUpForm.controls['lastName'].dirty &&
                    signUpForm.hasError('pattern', 'lastName')
                  " class="text-danger">*Фамилия не должна содержать цифр и специальных
                  символов</small>
              </div>

              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="middleName" type="text" placeholder="Отчество (необязательно)" />
                </div>
              </div>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signUpForm.controls['userName'].dirty &&
                    signUpForm.hasError('required', 'userName')
                  ">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="userName" type="text" placeholder="Имя пользователя" />
                </div>
                <small *ngIf="
                    signUpForm.controls['userName'].dirty &&
                    signUpForm.hasError('required', 'userName')
                  " class="text-danger">*Имя пользователя обязательно</small>
              </div>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signUpForm.controls['email'].dirty &&
                    signUpForm.hasError('required', 'email')
                  ">
                  <span class="fa fa-envelope-square p-2"></span>
                  <input formControlName="email" type="text" placeholder="Электронная почта" />
                </div>
                <small *ngIf="
                    signUpForm.controls['email'].dirty &&
                    signUpForm.hasError('required', 'email')
                  " class="text-danger">*Электронная почта обязательна</small>
                <small *ngIf="
                    signUpForm.controls['email'].dirty &&
                    signUpForm.hasError('email', 'email')
                  " class="text-danger">*Введите корректный адрес электронной почты</small>
              </div>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signUpForm.controls['password'].dirty &&
                    signUpForm.hasError('required', 'password')
                  ">
                  <span class="fa fa-lock px-2"></span>
                  <input formControlName="password" [type]="type" placeholder="Пароль" />
                  <button (click)="hideShowPass()" type="button" class="bg-white text-muted">
                    <span class="fa {{ eyeIcon }}"></span>
                  </button>
                </div>
                <small *ngIf="
                    signUpForm.controls['password'].dirty &&
                    signUpForm.hasError('required', 'password')
                  " class="text-danger">*Требуется пароль</small>
                <small *ngIf="
                    signUpForm.controls['password'].dirty &&
                    signUpForm.hasError('pattern', 'password')
                  " class="text-danger">*Пароль должен содержать не менее 6 символов, включая
                  заглавные и строчные буквы, цифры и специальные
                  символы</small>
              </div>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signUpForm.controls['passwordConfirm'].dirty &&
                    signUpForm.hasError('required', 'passwordConfirm')
                  ">
                  <span class="fa fa-lock px-2"></span>
                  <input formControlName="passwordConfirm" [type]="type" placeholder="Подтверждение пароля" />
                  <button (click)="hideShowPass()" type="button" class="bg-white text-muted">
                    <span class="fa {{ eyeIcon }}"></span>
                  </button>
                </div>
                <small *ngIf="
                    signUpForm.controls['passwordConfirm'].dirty &&
                    signUpForm.hasError('required', 'passwordConfirm')
                  " class="text-danger">*Требуется подтверждение пароля</small>
                <small *ngIf="signUpForm.hasError('mismatch')" class="text-danger">*Пароли не совпадают</small>
              </div>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="
                    signUpForm.controls['dateOfBirth'].dirty &&
                    signUpForm.controls['dateOfBirth'].invalid
                  ">
                  <span class="fa fa-calendar px-2"></span>
                  <input formControlName="dateOfBirth" type="date" placeholder="Дата рождения" />
                </div>
                <small *ngIf="
                    signUpForm.controls['dateOfBirth'].dirty &&
                    signUpForm.hasError('required', 'dateOfBirth')
                  " class="text-danger">*Дата рождения обязательна</small>
                <small *ngIf="
                    signUpForm.controls['dateOfBirth'].dirty &&
                    signUpForm.hasError('invalidDate', 'dateOfBirth')
                  " class="text-danger">*Дата рождения должна быть в прошлом</small>
              </div>

              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-globe px-2"></span>
                  <select formControlName="country">
                    <option value="" disabled selected>Страна</option>
                    <option *ngFor="let country of countries" [value]="country">
                      {{ country }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-building px-2"></span>
                  <select formControlName="city" [disabled]="!signUpForm.controls['country'].value">
                    <option value="" disabled selected>Город</option>
                    <option *ngFor="
                        let city of cities[
                          signUpForm.controls['country'].value
                        ] || []
                      " [value]="city">
                      {{ city }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group pt-3">
                <div class="input-field">
                  <input formControlName="agreement" type="checkbox" />
                  <label for="agreement" class="agreement-label">
                    &nbsp;<a href="terms-of-service" target="_blank">Я принимаю условия использования</a>
                  </label>
                </div>
                <small *ngIf="
                    signUpForm.controls['agreement'].dirty &&
                    signUpForm.hasError('requiredTrue', 'agreement')
                  " class="text-danger">*Принятие условий обязательно</small>
              </div>
              <button type="submit" class="btn btn-primary btn-block mt-4 w-100">
                Регистрация
              </button>
              <div class="text-center pt-4 text-muted">
                Уже есть аккаунт?
                <a id="forgot" routerLink="/login" href="#">Вход в систему</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>