<div class="animal-container" *ngIf="!loading; else loadingTemplate">
  <h2>Животные</h2>
  <button class="create-button" (click)="showCreateModal = true" *ngIf="isAdmin">
    Создать новое животное
  </button>
  
  <table>
    <thead>
      <tr>
        <th>
          Название
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalNameFilter" placeholder="Поиск по названию" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('name', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('name', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Описание
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalDescriptionFilter" placeholder="Поиск по описанию"
              (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('description', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('description', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Отряд
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalSquadFilter" placeholder="Поиск по отряду" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('squad', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('squad', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Семейство
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalFamilyFilter" placeholder="Поиск по семейству" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('family', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('family', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Род
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalRodFilter" placeholder="Поиск по роду" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('rod', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('rod', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Вид
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalViewFilter" placeholder="Поиск по виду" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('view', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('view', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Международное научное название
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalInternationalScientificNameFilter"
              placeholder="Поиск по международному научному названию" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('internationalScientificName', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('internationalScientificName', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Ссылка на энциклопедию
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalEncyclopediaUrlFilter" placeholder="Поиск по ссылке на энциклопедию"
              (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('encyclopediaUrl', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('encyclopediaUrl', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>
          Количество
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalPopulationFilter" placeholder="Поиск по количеству"
              (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('population', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('population', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th>Фото</th>
        <th>
          Класс животного
          <div class="filter-container">
            <input type="text" [(ngModel)]="AnimalClassNameFilter" placeholder="Поиск по классу" (input)="FilterFn()" />
          </div>
          <div class="filter-buttons">
            <button class="sort-button" (click)="sortResult('animalClassId', true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
              </svg>
            </button>
            <button class="sort-button" (click)="sortResult('animalClassId', false)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0" />
              </svg>
            </button>
          </div>
        </th>
        <th *ngIf="isAdmin">Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td>{{ animal.name }}</td>
        <td>{{ animal.description }}</td>
        <td>{{ animal.squad }}</td>
        <td>{{ animal.family }}</td>
        <td>{{ animal.rod }}</td>
        <td>{{ animal.view }}</td>
        <td>{{ animal.internationalScientificName }}</td>
        <td>{{ animal.encyclopediaUrl }}</td>
        <td>{{ animal.population }}</td>
        <td>
          <img [src]="animal.photoUrl" alt="{{ animal.name }}" class="animal-photo" />
        </td>
        <td>{{ getAnimalClassName(animal.animalClassId) }}</td>
        <td *ngIf="isAdmin">
          <button (click)="openEditModal(animal)">Редактировать</button>
          <button (click)="deleteAnimal(animal.id)">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" *ngIf="editingAnimal">
  <div class="modal-content">
    <span class="close-button" (click)="cancelEdit()">&times;</span>
    <h3>Редактировать животное</h3>
    <form (ngSubmit)="updateAnimal(editingAnimal.id, editingAnimal)" class="animal-form">
      <label for="editName">Название</label>
      <input type="text" id="editName" [(ngModel)]="editingAnimal.name" name="editName" required />
      <label for="editDescription">Описание</label>
      <input type="text" id="editDescription" [(ngModel)]="editingAnimal.description" name="editDescription" required />
      <label for="editSquad">Отряд</label>
      <input type="text" id="editSquad" [(ngModel)]="editingAnimal.squad" name="editSquad" required />
      <label for="editFamily">Семейство</label>
      <input type="text" id="editFamily" [(ngModel)]="editingAnimal.family" name="editFamily" required />
      <label for="editRod">Род</label>
      <input type="text" id="editRod" [(ngModel)]="editingAnimal.rod" name="editRod" required />
      <label for="editView">Вид</label>
      <input type="text" id="editView" [(ngModel)]="editingAnimal.view" name="editView" required />
      <label for="editInternationalScientificName">Международное научное название</label>
      <input type="text" id="editInternationalScientificName" [(ngModel)]="editingAnimal.internationalScientificName"
        name="editInternationalScientificName" required />
      <label for="editEncyclopediaUrl">Ссылка на энциклопедию</label>
      <input type="text" id="editEncyclopediaUrl" [(ngModel)]="editingAnimal.encyclopediaUrl" name="editEncyclopediaUrl"
        required />
      <label for="editPopulation">Количество</label>
      <input type="number" id="editPopulation" [(ngModel)]="editingAnimal.population" name="editPopulation" required />
      <label for="editPhotoUrl">Фото</label>
      <input type="file" id="editPhotoUrl" (change)="onFileChange($event, 'edit')" />
      <img *ngIf="editingAnimal.photoUrl" [src]="editingAnimal.photoUrl" alt="Preview" class="preview" />
      <label for="editAnimalClassId">Класс животного</label>
      <select id="editAnimalClassId" [(ngModel)]="editingAnimal.animalClassId" name="editAnimalClassId" required>
        <option *ngFor="let type of animalClasses" [value]="type.id">
          {{ type.name }}
        </option>
      </select>
      <button type="submit">Сохранить</button>
      <button type="button" (click)="cancelEdit()">Отмена</button>
    </form>
  </div>
</div>

<div class="modal" *ngIf="showCreateModal">
  <div class="modal-content">
    <span class="close-button" (click)="showCreateModal = false">&times;</span>
    <h3>Создать новое животное</h3>
    <form (ngSubmit)="createAnimal()" class="animal-form">
      <label for="newName">Название</label>
      <input type="text" id="newName" [(ngModel)]="newAnimal.name" name="newName" required />
      <label for="newDescription">Описание</label>
      <input type="text" id="newDescription" [(ngModel)]="newAnimal.description" name="newDescription" required />
      <label for="newSquad">Отряд</label>
      <input type="text" id="newSquad" [(ngModel)]="newAnimal.squad" name="newSquad" required />
      <label for="newFamily">Семейство</label>
      <input type="text" id="newFamily" [(ngModel)]="newAnimal.family" name="newFamily" required />
      <label for="newRod">Род</label>
      <input type="text" id="newRod" [(ngModel)]="newAnimal.rod" name="newRod" required />
      <label for="newView">Вид</label>
      <input type="text" id="newView" [(ngModel)]="newAnimal.view" name="newView" required />
      <label for="newInternationalScientificName">Международное научное название</label>
      <input type="text" id="newInternationalScientificName" [(ngModel)]="newAnimal.internationalScientificName"
        name="newInternationalScientificName" required />
      <label for="newEncyclopediaUrl">Ссылка на энциклопедию</label>
      <input type="text" id="newEncyclopediaUrl" [(ngModel)]="newAnimal.encyclopediaUrl" name="newEncyclopediaUrl"
        required />
      <label for="newPopulation">Количество</label>
      <input type="number" id="newPopulation" [(ngModel)]="newAnimal.population" name="newPopulation" required />
      <label for="newPhotoUrl">Фото</label>
      <input type="file" id="newPhotoUrl" (change)="onFileChange($event, 'create')" />
      <img *ngIf="newAnimal.photoUrl" [src]="newAnimal.photoUrl" alt="Preview" class="preview" />
      <label for="newAnimalClassId">Класс животного</label>
      <select id="newAnimalClassId" [(ngModel)]="newAnimal.animalClassId" name="newAnimalClassId" required>
        <option *ngFor="let type of animalClasses" [value]="type.id">
          {{ type.name }}
        </option>
      </select>
      <button type="submit">Создать</button>
    </form>
  </div>
</div>

<button class="btn btn-primary scroll-to-top" (click)="scrollToTop()" *ngIf="showScrollButton">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 5L6 12H9V19H15V12H18L12 5Z" fill="currentColor" />
  </svg>
</button>

<ng-template #loadingTemplate>
  <div class="loading-spinner">Загрузка...</div>
</ng-template>