.animal-container {
  text-align: center;
  margin: 20px;
  font-family: "Arial", sans-serif;

  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }

  .filter-container {
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
  }

  .filter-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }

  .sort-button {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;

    &:hover {
      background: #f0f0f0;
    }
  }

  .create-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #218838;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: left;
    }

    th {
      background-color: #f8f9fa;
      font-weight: bold;
      font-size: 1rem;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #e9e9e9;
    }

    .animal-photo {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    button {
      margin-right: 10px;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:first-child {
        background-color: #007bff;
        color: white;

        &:hover {
          background-color: #0069d9;
        }
      }

      &:last-child {
        background-color: #dc3545;
        color: white;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s;
}

.modal.show {
  opacity: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 500px;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }

  h3 {
    margin-top: 0;
  }

  .animal-form {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 10px;
    }

    input,
    select {
      padding: 5px;
      margin-top: 5px;
    }

    button {
      margin-top: 20px;
      padding: 10px;
      background-color: #28a745;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #218838;
      }
    }

    button[type="button"] {
      background-color: #dc3545;
      margin-top: 10px;

      &:hover {
        background-color: #c82333;
      }
    }
  }

  .preview {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0069d9;
  }

  svg {
    fill: white;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}
